@import url(http://fonts.googleapis.com/css?family=Coustard:900&subset=latin,cyrillic);
@import url('buttons.css');
html{
	height: 100%;
	font-family: Georgia,serif;
}body{
    margin: 0px 0px 0px 0px;
    background-color:#F9FFE0;
    background-image: url('/media/bg.png');
    background-attachment: fixed;
    height: 100%;
}form{
    font-family: Georgia;
}.formstyle{
    font-family: Georgia;
    font-size:20px;
}a:link,a:hover,a:visited,a:active{
	color: #000000;
}#bonusform{
	padding-top: 30px;
}#balanceform{
    padding-top: 30px;
}.pcard{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 40px;
    height: 300px;
    width: 330px;
    color:#FFFFFF;
	font-size:20px;
}.cardline{
    margin-top: 20px;
    height: 100px;
    width: 330px;
    background-image: url('/media/pcard.png');
}#pagecard{
	color:#3D3D3D;
	margin-top: 20px;
	padding-top: 10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom: 20px;
	background-color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 3px 8px #6D6D6D;
	font-size:14px;
}#pagecard h2{
	color: #000;
	font-size: 24px;
	font-weight: 400;
	font-family: sans-serif;
}#pagecard h3{
	color: #000;
	font-size: 18px;
	font-weight: 400;
	font-family: sans-serif;
}#pagecard i{
}#pagecard .question{
	font-style: italic;
	font-size:18px;
}.question label:hover{
    background-color:#F9FFE0;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
}#pagecard .changebg{
		padding-left:3px;
		padding-bottom:3px;
}#pagecard .changebg:hover{
		background-color:#E3F2F7;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
}#quiz-nav{
		width:auto;
		border-bottom-style: dashed;
		border-bottom-width: thin;
		background-color:#FFF;
}#quiz-nav .captbutton{
		font-size:18px;
		font-style:italic;
		color: #4C4C4C;
		text-decoration: none;
		margin-right:30px;
		padding: 5px 5px 5px 5px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
}#quiz-nav .captbutton:hover{
		font-size:18px;
		font-style:italic;
		color: #4C4C4C;
		text-decoration: none;
		background-color: #EFEFEF;
}#container{
	position: relative;
	min-height: 100%;
	height: auto !important;
	_height: 100%;
}#head{
    height: 150px;
    width: 100%;
    background-color: #510202;
    background-image: url('/media/headbg.jpg');
    padding-top: 30px;
    font-weight: bold;
    font-size: 70px;
    color:#FFFFFF;
    text-decoration:none;
		text-shadow:1px 3px 10px #510202;
}#subhead{
    height: 120px;
    width: 100%;
    background-color: #510202;
    background-image: url('/media/headbg.jpg');
    padding-top: 30px;
    font-size: 30px;
    color:#FFFFFF;
    text-decoration:none;
	text-shadow:1px 3px 10px #510202;
}.sublogo{
	padding-left:30px;
	font-family:'Coustard';
	font-size:20px;
	color:#FFF;
	text-decoration:none;
}#content{
	padding: 0 0 8em 0;
}#quizform{
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}.footer-margin{
    position: static;
    width: auto;
    border: 0px dotted maroon;
    clear: both;
    margin: 0;
    padding: 0;
    height: 1px;
    font-size: 1px;
    height: 100px;
}#footer{
	  position: absolute;
    left: 0;
    bottom: 0;
    z-index: 6;
    width: 100%;
    overflow: hidden;
    height: 150px;
    color: #4C4C4C;
    font-size: 16px;
    margin: -50px auto 0;
    padding-top: 20px;
	background-color:#DBEA9D;
	background-image: url('/media/fbg.png');
}
#footer a:link,#footer a:hover,#footer a:visited,#footer a:active{
	color: #4C4C4C;
	text-decoration: none;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	font-style: italic;
}.errormsg{
    color:#AA0505;
}